<div class="navbar navbar-fixed-top" 
  [ngClass]="isLoggedIn()?'loggedin-header-height':'loggedout-header-height'">
  <div class="main-logo text-center" *ngIf="!isLoggedIn()">
    <a [routerLink]="['/']">
      <img src="../assets/images/pippintitle.png">
      <span>Pippin Title Services</span>
    </a>
  </div>
  <div *ngIf="isLoggedIn()">
    <div class="small-logo pull-left">
        <i class="fa fa-bars" aria-hidden="true" (click)="openSideBar($event)" ></i>
        <a [routerLink]="['/']" >
          <img  class="small-logo-img" src="../assets/images/pippintitle.png">
          <span>Pippin Title Services</span>
        </a>   
    </div>    
  </div>
</div>