$fa-font-path : '../../node_modules/font-awesome/fonts';

$primary-color: #428bca;
$primary-hover: #357ebd;
$secondary-color: #f0ad4e;
$secondary-hover: #eea236;
$accept-color: #60cc70;
$accept-hover: #0F9D58;
$reject-color: #d9534f;
$reject-hover: #d43f3a;

$primary-font-color: #333333;
$secondary-font-color: #777777;
$title-font-size: 3rem;
$title-font-weight: lighter;

$login-top-padding: 5rem;