$fa-font-path : '../../node_modules/font-awesome/fonts';
$title-primary-color: rgb(66, 139, 202);
$title-secondary-color: rgb(240, 173, 78);
$title-accept-color: #0F9D58;
$title-reject-color: rgb(217, 83, 79);;
$title-font-color: rgb(119, 119, 119);
