@import './variables';
@import './mixins';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import './angular_material_override.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './bootstrap_override.scss';

.pt-login { padding-top: $login-top-padding !important; }

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
}

a:hover { text-decoration: none;}
a:focus { outline: none;}
